@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

@mixin bold {
	// font-family: 'Proxima Nova Semibold', sans-serif;
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

@mixin light {
	// font-family: 'Proxima Nova Light', sans-serif;
  font-family: 'Merienda', cursive;
  font-weight: 400;
}