.header {
  background-image: url('../../../img/background/header2.png');
  background-repeat: no-repeat, no-repeat;
  height: 260px;
  color: white;

  &__links {
    padding-left: 180px;
    padding-top: 50px;
    margin-bottom: 60px;
  }
}