
.header-main {
  background-image: url('../../../img/background/header-main.jpg');
  background-repeat: no-repeat, no-repeat;
  height: 640px;
  width: 100%;
  color: white;

  &__links {
    padding-left: 180px;
    padding-top: 50px;
  }

}

.hero {
  &__wrapper {
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 35px;
    &:last-child {
      margin-top: 20px;
    }

    margin-bottom: 18px;
  }
  
  &__img {
    margin-top: 20px;
    width: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}