
.our-best {
  background-image: url('../../../img/background/paper.jpg');
  background-repeat: no-repeat, no-repeat;

  padding: 80px 0 110px 0;

  &__items {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}