.nav-links {
  display: flex;

  
  &__img {
    position: relative;
    width: 35px;
    top: -22px;
    left: 5px;
  }

  &__list {
    display: flex;
    gap: 40px;

    li a {
      background: none;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-size: 12px;
      line-height: 17px;
    }
  }
}